extends ../layouts/master

include ../components/breadcrumbs
include ../components/ticker


block variables 
  -
    var mainClass = 'main--default'

block content
  -
    var ddata = {
      form: [
        {
          type: 'text',
          placeholder: 'Имя*'
        },
        {
          type: 'email',
          placeholder: 'E-mail*'
        },
        {
          type: 'phone',
          placeholder: 'Телефон'
        },
        {
          type: 'text',
          placeholder: 'Название организации'
        },
        {
          type: 'text',
          placeholder: 'Город'
        },
      ]
    }
  .about-page 
    section.section.section--first 
      .container
        .mobile-only
          .section__breadcrumbs(data-aos='fade-up')
            +breadcrumbs(page = 'О компании')
          h1(data-aos='fade-up')
            |О компании
        .intro(data-aos='fade-up')
          .intro__container
            .intro__image
              .desktop-tablet
                +picture("about.jpg")
              .small-mobile
                +picture("about-mobile.jpg").intro__picture
              .intro__top 
                .section__breadcrumbs 
                  +breadcrumbs(page = 'О компании').breadcrumbs--white
                h1.intro__title 
                  |О компании
              .intro__bg 
                +intro-svg.intro__bg-svg 
              .intro__icon 
                +intro-icon-svg.intro__svg
    section.section
      .content(data-aos='fade-up')
        .section__container 
          h2 
            |Мы — главный дистрибьютер алкогольной продукции ООО&nbsp;«ВайнБерри» на территории Северно-Западного федерального округа.
    section.section.section--big 
      .section__container 
        ul.about
          each item, i in data.features
            li.about__item(class=(i % 2 === 0 ? 'reverse' : '') data-aos='fade-up')
              .about__row 
                .about__col
                  +picture(`features-${i+1}.jpg`).about__image
                .about__col
                  .about__container
                    .about__count 
                      |#{i+1}
                    h3.about__title 
                      |#{item.title}
                    ul.about__list
                      each text in item.items
                        li.about__feature
                          |#{text}
    section.section 
      .content(data-aos='fade-up')
        .section__container 
          h2 
            |Располагаем широким ассортиментом алкогольной продукции, регулярно осуществляя поставки по всему Северо-Западному региону.
    section.section.section--big 
      .section__wrapper
        .about-page__slider 
          .about-page__slider-top(data-aos='fade-up')
            .about-page__slider-col
              .about-page__slider-control 
                .slider-buttons
                  button.slider-buttons__item.slider-buttons__left(data-slider-button = '1')
                    +small-arrow-svg.slider-buttons__svg
                  button.slider-buttons__item(data-slider-button = '2')
                    +small-arrow-svg.slider-buttons__svg
              .about-page__slider-pagination 
                |pagin
            .about-page__slider-col
              .about-page__slider-item
                .about-page__slider-num 
                  |8
                .about-page__slider-label 
                  |складов
              .about-page__slider-item
                .about-page__slider-num 
                  |5000 #[span.about-page__slider-small м #[span.about-page__slider-span 2]]
                .about-page__slider-label 
                  |общая плащадь
          .about-page__slider-slider(data-aos='fade-up')
            .swiper-container.swiper-container--visible(data-slider-id='about' data-slider-prev='1' data-slider-next='2')
              .swiper-wrapper 
                - for (i = 1; i < 5; i++)
                  .swiper-slide
                    .about-page__slider-slide
                      +picture(`about-slider-${i}.jpg`).about-page__slider-image
    section.section.section--big
      .container(data-aos='fade-up')
        .section__heading 
          |Ключевые клиенты
        .section__text 
          |Сети регионального и локального форматов
    section.section.section--big.section--hidden(data-aos='fade-up')
      +ticker
    section.section.section--big 
      .container(data-aos='fade-up')
        h3
          |Наши партнеры
    section.section.section--big.section--hidden(data-aos='fade-up')
      +ticker
    section.section.section--big 
      .contacts 
        .container
          .contacts__row.contacts__form 
            .contacts__col.contacts__inner(data-aos='fade-up')
              .contacts__form-col 
                .contacts__wrapper
                  h2 
                    |Связаться с нами
                  p.contacts__text 
                    |Мы всегда открыты к предложениям и сотрудничеству. Если у вас возникли вопросы или вы хотите стать нашим партнером, оставьте заявку через форму обратной связи.
                .contacts__icon 
                  +contacts-icon-svg.contacts__svg
            .contacts__col.contacts__inner(data-aos='fade-up')
              form.form(action="/" data-form='contact-us')
                each item in ddata.form 
                  .form__item 
                    +input(type = item.type)
                    span.form__span 
                      |#{item.placeholder}
                .form__item 
                  +textarea
                  span.form__span 
                    |Комментарий
                .form__bot 
                  .form__checkbox
                    +checkbox
                  .form__btn 
                    +submit-button 
                      |Отправить
  +response-modal(id='contact-us' title='Отправлено' text = 'Спасибо, мы с вами свяжемся в ближайшее время.' )
