extends ../layouts/master

include ../components/breadcrumbs
include ../components/discount-card

include ../components/aside

block variables
  - var mainClass = "main--default"
  - var bodyClass = "body--gray"


block content
  -
    var ddata = {
      list: [
        {
          label: 'Номер телефона',
          value: '8 981-850-45-73',
          type: 'phone',
          button: true,
        },
        {
          label: 'Email (Логин)',
          value: 'igspartakov@mail.ru',
          type: 'email',
          button: true,
        },
        {
          label: 'Пароль',
          value: '*************',
          type: 'password',
          button: true,
        },
      ],
      data: [
        {
          label: 'Уровень цен',
          text: 'Розница',
          tooltip: true,
        },
        {
          label: 'Название',
          text: 'Ржевский Универсам N 43 АО',
          tooltip: false,
        },
        {
          label: 'ИНН',
          text: '2881362626',
          tooltip: false,
        },
        {
          label: 'КПП',
          text: '490901772',
          tooltip: false,
        },
        {
          label: 'Номер лицензии',
          text: '460901412',
          tooltip: false,
        },
        {
          label: 'Имя',
          text: 'Игорь Спартаков',
          tooltip: false,
        },
      ]
    }
  .profile-page.section.section--default
    .mobile-only(data-aos='fade-up')
      +aside-profile(fourth = 'active')
    .profile-page__row.profile-page__row--big 
      .profile-page__col(data-aos='fade-up')
        +aside-profile(fourth = 'active' card = true)
      .profile-page__col
        .section__breadcrumbs(data-aos='fade-up')
          +breadcrumbs(items = ['Личный кабинет'] page = 'Мои заказы')
        h1(data-aos='fade-up')
          |Личный кабинет
        .mobile-only 
          .profile-page__exit(data-aos='fade-up')
            .profile-page__exit-icon 
              +exit-svg.profile-page__exit-svg 
            .profile-page__exit-text 
              |Выйти
        .mobile-only 
          .profile-page__card(data-aos='fade-up')
            +card
        .profile-page__offset
          .profile-page__info
            .profile-page__info-item.big(data-aos='fade-up')
              .profile-page__info-container
                .profile-page__info-row
                  .profile-page__info-icon 
                    +profile-smile-svg.profile-page__info-svg
                  .profile-page__info-content
                    .profile-page__info-label 
                      |Ваш персональный менеджер
                    .profile-page__info-wrapper 
                      .profile-page__info-heading 
                        |Жильцов Сергей
                ul.profile-page__info-links
                  li.profile-page__info-contact 
                    .profile-page__info-img 
                      +call-svg
                    a.profile-page__info-link(href="#") 
                      |8 911 286 2563
                  li.profile-page__info-contact 
                    .profile-page__info-img 
                      +mail-svg
                    a.profile-page__info-link(href="#") 
                      |ksh@cloudmill.ru
            .profile-page__info-item(data-aos='fade-up')
              .profile-page__info-container
                .profile-page__info-row
                  .profile-page__info-icon 
                    +profile-stat-svg.profile-page__info-svg
                  .profile-page__info-content
                    .profile-page__info-label 
                      |Уровень цен
                    .profile-page__info-wrapper 
                      .profile-page__info-heading.tooltip
                        |Розница
                        span.tooltip__icon 
                          +tooltip-svg.tooltip__svg 
                        .tooltip__container 
                          |Данный тип определяет размер скидки на продукцию. Подробнее о размерах скидок можно уточнить у вашего персонального менеджера.
            .profile-page__info-item(data-aos='fade-up')
              .profile-page__info-col 
                .profile-page__info-block 
                  .profile-page__info-container
                    .profile-page__info-label 
                      |Лимит по задолженности
                    .profile-page__info-inner
                      .profile-page__info-heading 
                        |345 032 ₽
                .profile-page__info-block 
                  .profile-page__info-container
                    .profile-page__info-label 
                      |Лимит по отсрочке платежа
                    .profile-page__info-inner
                      .profile-page__info-heading 
                        |30 дней
        .profile-page__section 
          h2.profile-page__heading(data-aos='fade-up')
            |Профиль
          .profile-page__order
            .desktop-only
              ul.profile-page__orders-list 
                each item in ddata.data
                  li.profile-page__orders-item.profile-page__orders-item--noborder-top(data-aos='fade-up')
                    .profile-page__order-row 
                      .profile-page__order-col
                        .profile-page__orders-label 
                          |#{item.label}
                      .profile-page__order-col
                        .profile-page__data
                          .profile-page__data-col
                            if (item.tooltip)
                              .profile-page__text.tooltip
                                |#{item.text}
                                span.tooltip__icon 
                                  +tooltip-svg.tooltip__svg 
                                .tooltip__container 
                                  |Данный тип определяет размер скидки на продукцию. Подробнее о размерах скидок можно уточнить у вашего персонального менеджера.
                            else
                              .profile-page__text 
                                |#{item.text}
                each item in ddata.list
                  li.profile-page__orders-item.profile-page__orders-item--noborder-top(data-aos='fade-up')
                    .profile-page__order-row 
                      .profile-page__order-col
                        .profile-page__orders-label 
                          |#{item.label}
                      .profile-page__order-col
                        .profile-page__data
                          .profile-page__data-col
                            input.profile-page__data-input.locked(type=item.type value = item.value)
                          .profile-page__data-col
                            if (item.button)
                              .profile-page__data-btn 
                                .profile-page__data-icon 
                                  +pencil-svg.profile-page__data-svg
                                  +check-svg.profile-page__data-ok
                                .profile-page__data-text 
                                  |Изменить
            .mobile-only 
              .profile-page__block.profile-page__block--order
                .profile-page__data-container
                  ul.profile-page__data-list
                    each item in ddata.data
                      li.profile-page__block-item(data-aos='fade-up')
                        .profile-page__orders-label 
                          |#{item.label}
                        if (item.tooltip)
                          .profile-page__text.tooltip
                            |#{item.text}
                            span.tooltip__icon 
                              +tooltip-svg.tooltip__svg 
                            .tooltip__container 
                              |Данный тип определяет размер скидки на продукцию. Подробнее о размерах скидок можно уточнить у вашего персонального менеджера.
                        else
                          .profile-page__text 
                            |#{item.text}
                        
                    each item in ddata.list
                      li.profile-page__block-item(data-aos='fade-up')
                        .profile-page__orders-label 
                          |#{item.label}
                        input.profile-page__data-input.locked(type=item.type value = item.value)
                        if (item.button)
                          .profile-page__data-inner 
                            .profile-page__data-btn 
                              .profile-page__data-icon 
                                +pencil-svg.profile-page__data-svg
                                +check-svg.profile-page__data-ok
                              .profile-page__data-text 
                                |Изменить

