

mixin input
  input.form__input(type = attributes.type data-input='' required)&attributes(attributes)

mixin textarea
  textarea.form__textarea(class=attributes.class data-input='' placeholder = attributes.placeholder)&attributes(attributes)

mixin radio-button 
  .radio
    label.radio__label
      input.radio__input(type="radio" name=attributes.name)
      .radio__icon
      .radio__text 
        |#{attributes.text}

mixin checkbox 
  .checkbox(class=attributes.class)
    label.checkbox__label
      input.checkbox__input(type="checkbox")&attributes(attributes)
      .checkbox__box 
        +check-svg.checkbox__svg
      if (attributes.text)
        .checkbox__caption
          |#{attributes.text}
      else
        .checkbox__text 
          |Согласен на обработку персональных данных в соответствии с #[a.checkbox__link(href="#") политикой конфиденциальности]
