mixin header
  -
    var ddata = {
      links: [
        {img: 'assets/images/svg/links-1.svg', text: 'Водка'},
        {img: 'assets/images/svg/links-2.svg', text: 'Ликероводочные изделия'},
        {img: 'assets/images/svg/links-3.svg', text: 'Коньяк'},
        {img: 'assets/images/svg/links-4.svg', text: 'Вино и винные напитки'},
        {img: 'assets/images/svg/links-5.svg', text: 'Слабоалкогольная продукция'},
        {img: 'assets/images/svg/links-6.svg', text: 'Настойки и наливки'},
      ]
    }
  header.header 
    .header__inner(data-aos='fade-up')
      .container.container--rem
        .header__desktop
          .header__top
            .header__row
              .header__col
                a.header__logo(href="#") 
                  +logo-svg.header__logo-svg
              .header__col
                nav.header__nav 
                  ul.header__nav-list 
                    each item in data.nav
                      li.header__nav-item 
                        a.header__nav-link(href="#")
                          |#{item}
              .header__col
                a.ask.ask--header(href="#" data-fancy-button='ask') 
                  .ask__icon 
                    +message-svg.ask__svg 
                  .ask__text 
                    |Задать вопрос
          .header__bot
            .header__row
              .header__col
                ul.header__links 
                  each item in ddata.links
                    li.header__links-item 
                      a.header__links-link(href="#") 
                        .header__links-img 
                          img(src=item.img, alt="")
                        .header__links-text
                          |#{item.text}
              .header__col
                .header__buttons 
                  .header__item(data-fancy-button='search')
                    +search-svg.header__svg
                  .header__item.header__cart(data-cart-button='')
                    +cart-svg.header__svg.header__cart-svg
                    .header__cart-count 
                      |8
                  if (attributes.auth)
                    .header__item(data-auth='')
                      +user-svg.header__svg
                  else
                    .header__item(data-fancy-button='auth')
                      +user-svg.header__svg
        .header__mobile
          .header__row 
            .header__col 
              .header__buttons 
                .header__item.header__menu
                  .header__burger
                .header__item(data-fancy-button='search')
                  +search-svg.header__svg
            .header__col 
              a.header__logo(href="#") 
                +logo-svg.header__logo-svg
            .header__col 
              .header__buttons
                if (attributes.auth)
                  .header__item(data-auth='')
                    +user-svg.header__svg
                else
                  .header__item(data-fancy-button='auth')
                    +user-svg.header__svg
                .header__item.header__cart(data-cart-button='')
                  +cart-svg.header__svg
                  .header__cart-count 
                    |8
        .header__modal
          .header__modal-inner
            .header__modal-container
              h2.header__modal-title 
                |Каталог
              ul.header__links 
                each item in ddata.links
                  li.header__links-item 
                    a.header__links-link(href="#") 
                      .header__links-img 
                        img(src=item.img, alt="")
                      .header__links-text
                        |#{item.text}
            .header__modal-bot 
              .header__modal-container
                .header__modal-row 
                  .header__modal-col
                    nav.header__nav 
                      ul.header__nav-list 
                        each item in data.nav
                          li.header__nav-item 
                            a.header__nav-link(href="#")
                              |#{item}
                  .header__modal-col
                    a.ask.ask--header(href="#" data-fancy-button='ask') 
                      .ask__icon 
                        +message-svg.ask__svg 
                      .ask__text 
                        |Задать вопрос
    if (attributes.auth)
      .auth-card(data-auth-panel='')
        .auth-card__top 
          .auth-card__title 
            |ТК 5 шагов
          .auth-card__select 
            +select.select--small.select--below(placeholder='Сменить профиль' items = ['Ржевский Универсам N 43 АО', 'Северный универсам ОАО', 'Люта ООО', ])
        ul.auth-card__list 
          li.auth-card__item 
            a.auth-card__link(href="#") 
              .auth-card__icon
                +orders-svg.auth-card__svg
              .auth-card__text 
                |Мои заказы
          li.auth-card__item 
            a.auth-card__link(href="#") 
              .auth-card__icon
                +profile-bag-svg.auth-card__svg
              .auth-card__text 
                |Мои юридические лица
          li.auth-card__item 
            a.auth-card__link(href="#") 
              .auth-card__icon
                +profile-offer-svg.auth-card__svg
              .auth-card__text 
                |Персональные акции
          li.auth-card__item 
            a.auth-card__link(href="#") 
              .auth-card__icon
                +user-svg.auth-card__svg
              .auth-card__text 
                |Профиль
        .auth-card__bot 
          .auth-card__exit 
            .auth-card__icon
              +exit-svg.auth-card__exit-svg
            .auth-card__text 
              |Выйти
    

mixin header-small
  header.header.header--small 
    .header__inner 
      .container
        .header__row 
          .header__col
            .header__container 
              .header__left 
                a.header__logo(href="#") 
                  +logo-svg.header__logo-svg
              .header__right
                .header__text 
                  |Главный дистрибьютор алкогольной продукции #[br] на территории Северо-Западного федерального округа
          .header__col
            .header__buttons 
              .header__item
                +user-svg.header__svg