mixin login-modal
  -
    var ddata = [
      {type: 'text', placeholder: 'Имя*'},
      {type: 'email', placeholder: 'E-mail*'},
      {type: 'phone', placeholder: 'Телефон*'},
      {type: 'text', placeholder: 'Название организации*'},
      {type: 'text', placeholder: 'ИНН*'},
      {type: 'text', placeholder: 'КПП*'},
    ]
  .modal.login-modal(data-fancy-modal='auth')
    .modal__container(data-tabs-parent='')
      h2.modal__title 
        |Войти
      .login-modal__category
        ul.category__list(data-real-tabs='')
          li.category__item.active(data-tabs-item='')
            .category__text
              |Есть аккаунт
          li.category__item(data-tabs-item='')
            .category__text
              |Регистрация
      .modal__inner
        .tabs-block.active(data-tabs-block='')
          form.form(action="/")
            each item in [{type: 'email', placeholder: 'E-mail'}, {type: 'password', placeholder: 'Пароль'}]
              .form__item 
                +input(type = item.type)
                span.form__span 
                  |#{item.placeholder}
            .form__item
              +submit-button
                |Войти
          .modal__inner 
            .login-modal__button(data-fancy-button='pass-rec')
              |Забыли пароль?
        .tabs-block(data-tabs-block='')
          form.form(action="/" data-form='reg')
            each item in ddata
              .form__item 
                +input(type = item.type)
                span.form__span 
                  |#{item.placeholder}
            .form__item 
              +textarea.form__textarea--small
              span.form__span 
                |Номер лицензии на право реализации алкогольной продукции*
            .form__item 
              +textarea
              span.form__span 
                |Сообщение
            .form__inner
              +checkbox
            .form__inner
              +submit-button
                |Зарегистрироваться

mixin password-recovery-modal
  .modal.password-modal(data-fancy-modal='pass-rec')
    .password-modal__container 
      .password-modal__back 
        +link-left(data-fancy-button='auth')
          |Назад
      h2.password-modal__title 
        |Восстановить пароль
      .password-modal__text 
        |Чтобы восстановить пароль, укажите адрес электронный почты, на который был зарегистрирован ваш аккаунт
      .modal__inner
        form.form(action="/" data-form='rec-success')
          .form__item 
            +input(type = 'email')
            span.form__span 
              |E-mail
          .form__item 
            +submit-button 
              |Отправить

mixin password-create-modal 
  .modal.password-modal
    .password-modal__container 
      h2.password-modal__title
        |Создать новый пароль
      .modal__inner
        form.form(action="/")
          .form__item 
            +input(type = 'password')
            span.form__span 
              |Новый пароль
          .form__item 
            +input(type = 'password')
            span.form__span 
              |Повторить новый пароль
          .form__item 
            +submit-button 
              |Сохранить

mixin password-success-modal 
  .modal.password-modal(data-response='rec-success')
    .password-modal__inner 
      h2.password-modal__heading
        |Пароль успешно изменен
      .modal__inner 
        +submit-button 
          |Авторизоваться

mixin response-modal
  .modal(data-response=attributes.id class=attributes.class data-fancy-modal=attributes.fancyId)
    .response-modal 
      .modal__container 
        .response-modal__icon 
          +ok-svg.response-modal__svg 
        h2.response-modal__title 
          |#{attributes.title}
        .response-modal__text 
          |#{attributes.text}

mixin product-modal 
  .modal.product-modal(data-fancy-modal='product')
    .product-modal__container
      h2.modal__title 
        |Товар добавлен в корзину
      .product-modal__product
        .order-card.order-card--small
          .product-modal__row
            .product-modal__col
              .order-card__img 
                +picture('wine.jpg').order-card__picture
            .product-modal__col
              .order-card__content 
                .order-card__code 
                  |Артикул: 124041
                .order-card__title 
                  |Ле Мэтр де Винь Совиньон Блан, вино стол.сух.бел., 11%, 0,75л.
                ul.order-card__stats
                  each item in ['Франция', '0.75 л.', 'Белое', 'Сухое'] 
                    li.order-card__stats-item 
                      |#{item}
                .product-modal__prices 
                  .order-card__prices 
                    .order-card__prices-item 
                      .order-card__label 
                        |Базовая цена
                      .order-card__price 
                        |1 990 ₽ 
                    .order-card__prices-item 
                      .order-card__label 
                        |Персональная цена
                      .order-card__price 
                        |1 680 ₽ 
                    .order-card__prices-item 
                      .order-card__label 
                        |Количество
                      .order-card__price 
                        |32
      .product-modal__buttons 
        .product-modal__item 
          +outline-button.button--auto.button--wide
            |Вернуться в каталог
        .product-modal__item 
          +submit-button 
            |Оформить заказ

mixin ask-modal
  -
    var ddata = [
      {type: 'text', placeholder: 'Имя*'},
      {type: 'email', placeholder: 'E-mail*'},
      {type: 'phone', placeholder: 'Телефон*'},
    ]
  .modal(data-fancy-modal='ask')
    .modal__container 
      h2.modal__title 
        |Задать вопрос
      form.form(action="/" data-parsley-validate data-form='ask' )
        each item in ddata
          .form__item 
            +input(type = item.type) 
            span.form__span 
              |#{item.placeholder}
        .form__item 
          +textarea(required=true)
          span.form__span 
            |Сообщение
        .form__inner 
          +checkbox 
        .form__inner 
          +submit-button 
            |Отправить

mixin search-modal 
  .search-modal(data-fancy-modal='search')
    .search-modal__container 
      .search-modal__row 
        .search-modal__col
          .search-modal__icon 
            +search-svg.search-modal__svg
          input.search-modal__input(type="text" placeholder='Что вы хотите найти?')
        .search-modal__col
          .search-modal__item
            +submit-button.button--huge.button--big 
              |Поиск
          .search-modal__item
            .search-modal__button(data-fancybox-close='')
              +cross-svg

mixin catalog-menu 
  .catalog-menu.filters.filters--mobile
    .catalog-menu__container
      .catalog-menu__button(data-filters-close='')
        +cross-svg
      h2.catalog-menu__title 
        |Фильтры
      ul.filters__list
        li.filters__item
          .filters__heading 
            |Производитель
          .filters__range
            .range(data-range-block='')
              .range__inputs 
                label.range__item 
                  span.range__label 
                    |от
                  input.range__input(type="number" value ='2300' data-input-start='2300')
                label.range__item 
                  span.range__label 
                    |до
                  input.range__input(type="number" value ='4000' data-input-end='4000')
              .range__range
        - for (i = 1; i < 7; i++)
          li.filters__item
            .filters__heading 
              |Производитель
            .filters__body 
              ul.filers__options 
                - for (j = 0; j < 4; j++)
                  li.filters__box 
                    +checkbox(text = 'Германия' data-filters-input='').checkbox--filters
              if (i % 3 === 0)
                .filters__show 
                  .filters__text 
                    |Показать все
                  .filters__icon
                    +small-arrow-svg.filters__svg 
    .filters__buttons
      .filters__button(data-filters-reset='')
        .filters__button-icon 
          +refresh-svg.filters__button-svg 
        .filters__button-text 
          |Сбросить
      +submit-button(data-filters-accept='')
        |Применить

mixin cart-modal 
  .cart-modal.product-modal(data-cart-modal='')
    .cart-modal__overlay(data-cart-overlay='')
    .cart-modal__modal
      .cart-modal__top 
        .cart-modal__row
          h3
            |Корзина
          .cart-modal__button(data-cart-close='')
            +cross-svg.cart-modal__button-svg 
      if (!attributes.empty)
        ul.cart-modal__list
          - for (i = 0; i < 4; i++)
            li.cart-modal__item 
              .cart-modal__container 
                .order-card.order-card--small
                  .product-modal__row 
                    .product-modal__col
                      .order-card__img 
                        +picture('wine.jpg').order-card__picture
                    .product-modal__col
                      .order-card__content 
                        .order-card__code 
                          |Артикул: 124041
                        .order-card__title 
                          |Ле Мэтр де Винь Совиньон Блан, вино стол.сух.бел., 11%, 0,75л.
                        ul.order-card__stats
                          each item in ['Франция', '0.75 л.', 'Белое', 'Сухое'] 
                            li.order-card__stats-item 
                              |#{item}
                        .product-modal__prices 
                          .order-card__prices 
                            .order-card__prices-item 
                              .order-card__label 
                                |Базовая цена
                              .order-card__price 
                                |1 990 ₽ 
                            .order-card__prices-item 
                              .order-card__label 
                                |Персональная цена
                              .order-card__price 
                                |1 680 ₽ 
                        .cart-modal__bot
                          .mobile-only
                            .order-card__label 
                              |Количество
                          .cart-modal__row
                            .cart-modal__counter 
                              +counter
                            .cart-modal__delete
                              +trash-svg.cart-modal__delete-svg
      else 
        .cart-modal__empty 
          .cart-modal__icon 
            +cart-modal-svg.cart-modal__svg 
          .cart-modal__caption 
            |Корзина пуста
      .cart-modal__panel(class=(attributes.empty ? 'hidden' : ''))
        .cart-modal__line 
          .cart-modal__row
            .cart-modal__label 
              |Позиций
            .cart-modal__num 
              |68
        .cart-modal__line 
          .cart-modal__row
            .cart-modal__text
              |Итого
            .cart-modal__price 
              |105 696 ₽
          .cart-modal__btn 
            +submit-button 
              |Оформить заказ

mixin entity-modal 
  .entity-modal.modal(data-fancy-modal='entity')
    -
      var ddata = [
        {type: 'text', placeholder: 'Имя*'},
        {type: 'email', placeholder: 'E-mail*'},
        {type: 'number', placeholder: 'Телефон*'},
        {type: 'text', placeholder: 'Название организации*'},
        {type: 'text', placeholder: 'ИНН*'},
        {type: 'text', placeholder: 'КПП*'},
      ]
    .entity-modal__container
      h2.modal__title 
        |Добавить дочернее юридическое лицо
      form.form(action="/" data-form='entity-resp') 
        .entity-modal__grid
          each item in ddata 
            .entity-modal__item
              .form__item 
                +input(type = item.type)
                span.form__span 
                  |#{item.placeholder}
        .form__item 
          +input(type = 'text')
          span.form__span 
            |Номер лицензии на право реализации алкогольной продукции*
        .form__item 
          +textarea
          span.form__span 
            |Комментарий
        .form__bot 
          .form__checkbox
            +checkbox
          .form__btn 
            +submit-button 
              |Добавить